<!-- To ma być formulaż pozwalający na dodawanie kolejnej pozycji jako woda o konkretnych parametrach -->
<div class="adder">
    <% if(usageMode==='adder' ){ %>
        <form method="post" action="/addInstance">

            <div>
                <input type="text" name="newWaterInstanceName" placeholder="Name" autocomplete="off">
            </div>
            <div>
                <input type="text" name="newWaterInstanceType" placeholder="Type" autocomplete="off">
            </div>

            <% }else{ %>
                <form method="post" action="/addReview">
                    <div>
                        <h2 class="display-5">
                            <%= defaultNameValue %>
                        </h2>
                        <p class="lead">
                            <%= defaultTypeValue %>
                        </p>
                    </div>
                    <% } %>
                        <div>
                            <!-- zdj -->
                            <table>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="<%= defaultImgValue %>" alt="No img :C">
                                            </td>
                                        </tr>
                                        <% if(usageMode==='adder' ){ %>
                                            <tr>
                                                <td>
                                                    <input type="url" name="imgUrl" placeholder="Url of the graphic">
                                                </td>
                                            </tr>
                                            <% } %>
                                    </table>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Initial taste</td>
                                            <td>
                                                <input type="range" name="IT" min="0" max="5" value="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Taste after 8h</td>
                                            <td>
                                                <input type="range" name="TA8H" min="0" max="5" value="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bottle quality</td>
                                            <td>
                                                <input type="range" name="BQ" min="0" max="5" value="0">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bottle design</td>
                                            <td>
                                                <input type="range" name="BD" min="0" max="5" value="0">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </table>
                        </div>

                        <% if(usageMode==='adder' ){ %>
                            <button type="submit">Add</button>
                            <% }else{ %>
                                <br>
                                <p>Say something about it, rate it:</p>
                                <input type="text" name="writtenOpinion" size="50" autocomplete="off">
                                <br><br>
                                <button type="submit" name="_id" value="<%=instance_id %>">Submit review </button>
                                <%} %>
                </form>
</div>
<div>
    <!-- Pokaż tylko kied -->
    <% if(usageMode==='adder' ){ %>
        <form action="/resetAdder" method="post">
            <button type="submit">Delete my collection</button>
        </form>
        <form action="/showOrDeleteInstances" method="post">
            <button type="submit">Show my current collection</button>
        </form>
        <% } %>
</div>