<!-- To ma być formulaż pozwalający na dodawanie kolejnej pozycji jako woda o konkretnych parametrach -->
<div class="adder">
    <form method="post" action="/add">
        <div>
            <input type="text" name="newWaterInstanceName" placeholder="Nazwa" autocomplete="off">
        </div>
        <div>
            <input type="text" name="newWaterInstanceType" placeholder="Typ" autocomplete="off">
        </div>
        <div>
            <!-- zdj -->
            <table>
                <td>
                    <table>
                        <tr>
                            <td>
                                <img src="https://cdn-icons-png.flaticon.com/512/2892/2892699.png" alt="No img :C">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Url of the graphic
                                <input type="url" name="imgUrl">
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- idk normalnie z pliku nie chciało pokazywać obrazu -->
                <!-- zdj -->
                <td>
                    <table>
                        <tr>
                            <td>Initial taste</td>
                            <td>
                                <input type="range" name="IT" min="0" max="5" value="0">
                            </td>
                        </tr>
                        <tr>
                            <td>Taste after 8h</td>
                            <td>
                                <input type="range" name="TA8H" min="0" max="5" value="0">
                            </td>
                        </tr>
                        <tr>
                            <td>Bottle quality</td>
                            <td>
                                <input type="range" name="BQ" min="0" max="5" value="0">
                            </td>
                        </tr>
                        <tr>
                            <td>Bottle design</td>
                            <td>
                                <input type="range" name="BD" min="0" max="5" value="0">
                            </td>
                        </tr>
                    </table>
                </td>
            </table>
        </div>
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <form action="/resetAdder" method="post">
        <button type="submit">Delete all</button>
    </form>
</div>