<form method="post" action="/adder">
    <!-- Komunikacja typu post, przekazuje coś. A gdzie? Do głównego folderu, gdzie poszuka pliku .js-->
    <input type="text" name="newWaterInstance" placeholder="New Water Instance" autocomplete="off">
    <!-- Czym będzie to coś? Zmienną tekstową. Jak ją nazwiemy? newItem-->
    <button type="submit" name="adder" >+</button>
    <!-- Wykonaj operację -->
</form> <!-- koniec szablonu do komunikacji z app.js -->
