<%- include("header") -%>
<!-- Very primitive, if there will be time then change to normal -->
    <form action="mailto:kolpak@student.agh.edu.pl" method="post" class="center">

        <br>
        <td>Email:</td>
        <td>kolpak@agh.edu.pl</td>
        <hr>
        <input type="text" placeholder="Your name">
        <input type="email" placeholder="Your email">
        <br><br>
        <textarea name="Message" cols="50" rows="4" placeholder="Tell me what kind of water do you like the most"></textarea>
        <br>
        <button type="submit">Submit</button>

    </form>
    </body>

    </html>