<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\bootstrap.css">
    <link rel="stylesheet" href="..\css\product.css">
    <title>Water</title>
</head>

<body>
    <header class="site-header sticky-top py-1 mymy-5">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" href="mainPage">Main page</a>
            <a class="py-2 d-none d-md-inline-block" href="signUp">Sign up</a>
            <a class="py-2 d-none d-md-inline-block" href="logIn">Log in</a>
            <a class="py-2 d-none d-md-inline-block" href="adder">Adder</a>
            <a class="py-2 d-none d-md-inline-block" href="Contact">Contact</a>
            <!-- po prostu GET takiego hrefa, to nie musi być plik.html, to może być cokolwiek plik.htmljp też jest ok -->
        </nav>
    </header>