<%- include("header") -%>

    <main class="form-signin">
        <form action="/logInAttempt" method="post">
            <img class="mb-4 form-floating center" src="../images/Puste.png" alt="" width="72" height="57">

            <div class="form-floating">
                <input name="username" type="text" class="form-control top"
                id="floatingInput" placeholder="Username" autocomplete="off">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control bot"
                id="floatingPassword" placeholder="Password"  autocomplete="off">
                <label for="floatingPassword">Password</label>
            </div>

            <!-- <div class="checkbox mb-3">
                <label class="center">
                    <input type="checkbox" value="remember-me"> Zapamiętaj mnie
                </label>
            </div> -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Log In</button>
        </form>
    </main>


    </body>

    </html>