<%- include("header") -%>

    <main>

        <div class="text-center ">
            <br>
            <h1 class="display-4 fw-normal">Water water water...</p>
            </h1>
            <p class="lead fw-normal">To drink, or not to drink?<br>That is the question.</p>
        </div>
        <!-- każdy kolejny div to kolejna woda -->

        <div class="mainDiv">
            <!-- Piwniczanka -->
            <div>
                <h2 class="display-5">Piwniczanka</h2>
                <p class="lead">Średnio gazowana</p>
            </div>
            <table>
                <td>
                    <img src="../images\Piwniczanka.png" alt="Best there is">
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Initial taste</td>
                            <td>⚫⚫⚫⚫⚫</td>
                        </tr>
                        <tr>
                            <td>Taste after 8h</td>
                            <td>⚫⚫⚫⚫⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle quality</td>
                            <td>⚫⚫⚫⚫⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle design</td>
                            <td>⚫⚫⚫⚪⚪</td>
                        </tr>
                    </table>
                </td>
            </table>
        </div>

        <div class="mainDiv">
            <!-- Muszynianka -->
            <div class="">
                <h2 class="display-5">Muszynianka</h2>
                <p class="lead">Średnio gazowana</p>
            </div>
            <table>
                <td>
                    <img src="../images\Muszynianka.png">
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Initial taste</td>
                            <td>⚫⚫⚫⚫⚪</td>
                        </tr>
                        <tr>
                            <td>Taste after 8h</td>
                            <td>⚫⚫⚫⚪⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle quality</td>
                            <td>⚫⚫⚫⚫⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle design</td>
                            <td>⚫⚫⚫⚪⚪</td>
                        </tr>
                    </table>
                </td>
            </table>
        </div>

        <div class="mainDiv">
            <!-- Nałęczowianka -->
            <div class="">
                <h2 class="display-5">Nałęczowianka</h2>
                <p class="lead">Niegazowana</p>
            </div>
            <table>
                <td>
                    <img src="../images\Nałęczowianka.png">
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Initial taste</td>
                            <td>⚫⚫⚫⚫⚪</td>
                        </tr>
                        <tr>
                            <td>Taste after 8h</td>
                            <td>⚫⚫⚫⚫⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle quality</td>
                            <td>⚫⚫⚪⚪⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle design</td>
                            <td>⚫⚫⚫⚫⚪</td>
                        </tr>
                    </table>
                </td>
            </table>
        </div>

        <div class="mainDiv">
            <!-- Cisowianka -->
            <div class="">
                <h2 class="display-5">Cisowianka</h2>
                <p class="lead">Niegazowana</p>
            </div>
            <table>
                <td>
                    <img src="..\images\Cisowianka.png">
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Initial taste</td>
                            <td>⚫⚪⚪⚪⚪</td>
                        </tr>
                        <tr>
                            <td>Taste after 8h</td>
                            <td>⚫⚪⚪⚪⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle quality</td>
                            <td>⚫⚫⚫⚪⚪</td>
                        </tr>
                        <tr>
                            <td>Bottle design</td>
                            <td>⚫⚫⚫⚪⚪</td>
                        </tr>
                    </table>
                </td>
            </table>
        </div>
        <!-- zmien klase div na to co ma m-3 btn itd, to nie trzeba będzie się bawic za kazdym razem -->



    </main>
</body>

</html>