<%if (msgColor==='red' ) {%>
    <div style="position: fixed;text-align: center;width: 100%; color: red;">
<%= currentUser %>
</div>
<%}else{%>
    <div style="position: fixed;text-align: center;bottom: 0px;width: 100%;background-color: rgba(195, 235, 239, .85);">
<%= currentUser %>
    </div>
<%}%>