<%- include("header") -%>
    <p style="text-align: center;">
        dane już się pojawiają, teraz je tylko ładnie wystylizować
        <br><br><br>
    


        <%for (let index=0; index <foundItems.length; index++) { %>
            <div class="mainDiv">
                <%= foundItems[index]%>
            </div>
            <%}%>

    </div>
    </p>

    </body>

    </html>