<%-include("header",{darkModeEnabled2M:darkModeEnabledM}) -%>
    <main class="form-signin center fithw">
        <form action="https://formsubmit.co/<%=destinationEmail%> " method="POST">
            <div class="form-floating">
                <input type="text" name="name" placeholder="Your username" class="form-control special" id="UN">
                <label for="UN">Your username</label>
                <input type="hidden" name="link" value="szzszsz">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
            </div>
        </form>
    </main>

    </body>

    </html>