.adder{
  background-color: rgb(195, 235, 239, .35);
  padding: 1rem;
}
.bot{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  max-width: 960px;
}
.site-header {
  background-color: rgba(195, 235, 239, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #000000;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
html{
  background-image: -webkit-linear-gradient(180deg,#40514E 5%, #11999E 25%, #30E3CA 40%, #E4F9F5 65%);
}

.mainDiv{
  margin: 1rem !important;
  background-color: rgb(195, 235, 239, .35);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  margin-left: auto;
  margin-right: auto;
}
.mainDivX{
  margin: 1rem !important;
  display: flex;
  justify-content: center;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mid{
  margin-bottom: -1px;
  border-radius: 0px;
}


img{
  width: 200px;
  height: 200px;
}
