html{
  background-image: -webkit-linear-gradient(180deg,#40514E 5%, #11999E 25%, #30E3CA 40%, #E4F9F5 65%);
}
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mid{
  margin-bottom: -1px;
  border-radius: 0px;
}

.bot{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}